* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Navigation */

.nav-container {
  background: #fffffa;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  height: 72px;
  margin-top: -65px;
  z-index: 500;
  position: relative;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

nav ul {
  display: flex;
}

nav .logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  color: #021718;
}

.nav-items li {
  list-style: none;
  margin-right: 100px;
}

.nav-items li:nth-last-of-type(1) {
  margin: 0;
}

.nav-items li a {
  color: #021718;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

/* Header */

.header-container {
  background: #f5a05c url("images/bg-shape.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  color: #021718;
  margin-bottom: 24px;
}

header p {
  font-size: 24px;
  line-height: 42px;
  color: #021718;
  width: 418px;

  margin-bottom: 48px;
}

header a {
  color: #fffffa;
  font-size: 24px;
  text-decoration: none;

  background: #01847f;
  border-radius: 8px;
  padding: 12px 48px;
  display: inline-block;
  transition: 300ms;
}

header a:hover {
  transform: translateY(-8px);
}

/* Social Icons */

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  margin: 0 24px;
}

.social-icons a:nth-of-type(1) {
  margin-left: 0;
}

/* Hero image */

header .hero-image {
  position: relative;
}

header .hero-image img {
  transition: 300ms;
  position: relative;
  z-index: 100;
}

header .hero-image img:hover {
  transform: rotate(-6deg);
}

header .hero-image .photo-bg {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 45px;
  top: 24px;

  background: #44a1a0;
  transform: rotate(-6deg);
}

/* Search Box */

.search-box {
  width: 1200px;
  margin: 0 auto;
  text-align: right;
  position: relative;
  top: 0;
  z-index: 101;

  transition: 300ms;
}

.search-box.active {
  top: 72px;
}

.search-box input {
  background: #fffffa;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 8px 8px;

  font-size: 24px;
  line-height: 42px;
  border: 0;
  padding: 12px 48px;
}

.search-box input::placeholder {
  color: #b3b3b3;
}

/* Search & Close Buttons */

.nav-btn-container {
  display: flex;
  position: relative;
}

.nav-btn-container img {
  position: absolute;
}

.nav-btn-container .close-btn {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
  transition: 300ms;
}

.nav-btn-container .search-btn {
  pointer-events: auto;
  transition: 300ms;
}

.nav-btn-container.active .search-btn {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
}

.nav-btn-container.active .close-btn {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

/* Hidden Items */

.search-box {
  /* display: none; */
}


### DAMIT FIGMA 

position: absolute;
width: 859px;
height: 1161px;
left: 1579px;
top: 2063px;

background: url(Brisket.png);
transform: rotate(-180deg);


/* image 1 */


position: absolute;
width: 1440px;
height: 736px;
left: -8px;
top: 40px;

background: url(image.png);


/* Rectangle 2 */


position: absolute;
width: 1440px;
height: 131px;
left: 0px;
top: 605px;

background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1A1A1A 100%);


/* MMMMM... Hungry yet? */


position: absolute;
width: 523px;
height: 249px;
left: 680px;
top: 1290px;

font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 92px;
line-height: 83px;
text-align: right;
text-transform: uppercase;

color: #FFFBFB;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* menu */


position: absolute;
width: 206px;
height: 78px;
left: 120px;
top: 1483px;

/* H1 */

font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 78px;
/* identical to box height */

text-transform: uppercase;

color: #FFFBFB;



/* Rectangle 3 */


position: absolute;
width: 691px;
height: 368px;
left: 527px;
top: 616px;

background: url(image.png);
border: 1px solid #FFFFFF;
filter: drop-shadow(16px 17px 11px rgba(0, 0, 0, 0.61));


/* FIND US */


position: absolute;
width: 280px;
height: 78px;
left: 117px;
top: 616px;

/* H1 */

font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 78px;
/* identical to box height */

text-transform: uppercase;

color: #FFFBFB;



/* Ribs Full Slab Half Slab Wings(1lb) Burger Hot Dog Bratwursts Pulled Pork Sandwich */


position: absolute;
width: 339px;
height: 288px;
left: 120px;
top: 1581px;

font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 150%;
/* or 36px */

text-transform: uppercase;

color: #FFFBFB;

border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* 12345 Main St. St Louis MO 55555 */


position: absolute;
width: 165px;
height: 44px;
left: 120px;
top: 714px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #FFFBFB;



/* image 2 */


position: absolute;
width: 1504px;
height: 896px;
left: -23px;
top: 2113px;

background: url(image.png);


/* Ribs Full Slab Half Slab Wings(1lb) Burger Hot Dog Bratwursts Pulled Pork Sandwich */


position: absolute;
width: 339px;
height: 288px;
left: 373px;
top: 2007px;

font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 150%;
/* or 36px */

text-align: right;
text-transform: uppercase;

color: #FFFBFB;



/* Call Us 555.555.5555 */


position: absolute;
width: 111px;
height: 44px;
left: 120px;
top: 778px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;

color: #FFFBFB;



/* Hours Wednesday 12PM - 5PM Thursday 11AM - 5pm Friday 11am - 7pm Saturday 11am - 7pm */


position: absolute;
width: 217px;
height: 110px;
left: 120px;
top: 842px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;

color: #FFFBFB;



/* SIDES */


position: absolute;
width: 203px;
height: 78px;
left: 509px;
top: 1909px;

/* H1 */

font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 78px;
/* identical to box height */

text-align: right;
text-transform: uppercase;

color: #FFFBFB;



/* Group 2 */


position: absolute;
width: 72px;
height: 32px;
left: 120px;
top: 970px;



/* MENU */


position: absolute;
width: 78px;
height: 29px;
left: 502px;
top: 105px;

/* MENU */

font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
text-transform: uppercase;

color: #FFFFFF;



/* CATERING */


position: absolute;
width: 132px;
height: 29px;
left: 684px;
top: 105px;

/* MENU */

font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
text-transform: uppercase;

color: #FFFFFF;



/* CONTACT US */


position: absolute;
width: 167px;
height: 29px;
left: 1153px;
top: 105px;

/* MENU */

font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
text-align: right;
text-transform: uppercase;

color: #FFFFFF;



/* ArrowLef 1 */


position: absolute;
width: 859px;
height: 475px;
left: 527px;
top: 1364px;

background: url(ArrowLef.png);


/* Frame */


position: absolute;
width: 249px;
height: 135px;
left: 133px;
top: 60px;



/* Rectangle 8 */


position: absolute;
width: 1440px;
height: 6px;
left: 0px;
top: 2451px;

background: #C52F30;


/* Rectangle 9 */


position: absolute;
width: 1440px;
height: 452px;
left: 0px;
top: 2457px;

background: #000000;


/* Address 12345 Main St. St Louis MO 55555 */


position: absolute;
width: 165px;
height: 66px;
left: 120px;
top: 2517px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;

color: #FFFBFB;



/* Call Us 555.555.5555 */


position: absolute;
width: 111px;
height: 44px;
left: 120px;
top: 2603px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;

color: #FFFBFB;



/* Hours Wednesday 12PM - 5PM Thursday 11AM - 5pm Friday 11am - 7pm Saturday 11am - 7pm */


position: absolute;
width: 217px;
height: 110px;
left: 425px;
top: 2517px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;

color: #FFFBFB;



/* iconmonstr-twitter-1 1 */


position: absolute;
width: 34px;
height: 34px;
left: 1240px;
top: 2520px;



/* iconmonstr-facebook-1 1 */


position: absolute;
width: 34px;
height: 34px;
left: 1286px;
top: 2520px;
